{% extends 'base.html.twig' %}

{% block title %}{{ app.request.host }} | Mon compte{% endblock %}

{% block style_container %}max-width:968px; margin: 32px auto;{% endblock %}

{% block body %}
    <div class="text-center">
        <h1>Bienvenue dans votre compte {{ app.request.host }} !</h1>
    </div>

    <div class="account-home row mt-5">
        <a href="{{ path('profileInfoPerso') }}" class="account-home-item col-12 col-md-3">
            <h2>Informations personnelles</h2>
            <span>Modifiez votre adresse email, mot de passe et pseudo</span>
        </a>
        <a href="{{ path('profile') }}/historiques-parties" class="account-home-item col-12 col-md-3">
            <h2>Historique des parties</h2>
            <span>Regardez et revisionnez l'historique de vos parties d'échecs</span>
        </a>
        <a href="{{ path('profile') }}/mes-abonnements" class="account-home-item col-12 col-md-3">
            <h2>Mes abonnements newsletters</h2>
            <span>Gérez votre abonnement à la newsletter</span>
        </a>
    </div>
{% endblock %}
