{% extends 'base.html.twig' %}

{% block title %}{{ app.request.host }} | Mon compte{% endblock %}

{% block style_container %}margin: 32px auto;{% endblock %}

{% block stylesheets %}
    <style>
        .feature-icon-small {
            width: 3rem;
            height: 3rem;
        }
    </style>
{% endblock %}

{% block body %}
    <h1 class="visually-hidden">Votre compte client {{ app.request.host }}</h1>

    <div class="container px-4 py-5">
        <h2 class="pb-2 border-bottom">Bienvenue dans votre espace joueur sur {{ app.request.host }} !</h2>

        <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
            <div class="col d-flex flex-column align-items-start gap-2">
                <h2 class="fw-bold text-body-emphasis">Explorez vos statistiques et améliorez votre jeu.</h2>
                <p class="text-body-secondary">Consultez vos parties, vos statistiques, vos informations personnelles et découvrez des astuces pour progresser. Votre espace est conçu pour vous aider à devenir un meilleur joueur.</p>
                <a href="{{ path('logout') }}" class="btn btn-primary btn-lg">Déconnexion</a>
            </div>

            <div class="col">
                <div class="row row-cols-1 row-cols-sm-2 g-4">
                    <a href="{{ path('profileInfoPerso') }}" class="text-decoration-none" title="Informations personnelles">
                        <div class="col d-flex flex-column gap-2">
                            <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                                <i class="bi bi-person-circle"></i>
                            </div>
                            <h4 class="fw-semibold mb-0 text-body-emphasis">Informations personnelles</h4>
                            <p class="text-body-secondary mb-0">Modifiez votre adresse email, mot de passe et pseudo.</p>
                            <div class="icon-link icon-link-hover">
                                Continuer <i class="bi bi-chevron-right" style="line-height: 1;"></i>
                            </div>
                        </div>
                    </a>

                    <a href="{{ path('profileGameHistory') }}" class="text-decoration-none" title="Historique des parties">
                        <div class="col d-flex flex-column gap-2">
                            <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                                <i class="bi bi-clock-history"></i>
                            </div>
                            <h4 class="fw-semibold mb-0 text-body-emphasis">Historique des parties</h4>
                            <p class="text-body-secondary mb-0">Regardez et revisionnez l'historique de vos parties d'échecs.</p>
                            <div class="icon-link icon-link-hover">
                                Continuer <i class="bi bi-chevron-right" style="line-height: 1;"></i>
                            </div>
                        </div>
                    </a>

                    <a href="" class="text-decoration-none" title="Statistiques">
                        <div class="col d-flex flex-column gap-2">
                            <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                                <i class="bi bi-bar-chart-line"></i>
                            </div>
                            <h4 class="fw-semibold mb-0 text-body-emphasis">Statistiques</h4>
                            <p class="text-body-secondary mb-0">Consultez vos statistiques.</p>
                            <div class="icon-link icon-link-hover">
                                Continuer <i class="bi bi-chevron-right" style="line-height: 1;"></i>
                            </div>
                        </div>
                    </a>

                    <a href="" class="text-decoration-none" title="Messagerie">
                        <div class="col d-flex flex-column gap-2">
                            <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                                <i class="bi bi-chat-dots"></i>
                            </div>
                            <h4 class="fw-semibold mb-0 text-body-emphasis">Messagerie</h4>
                            <p class="text-body-secondary mb-0">Consultez votre messagerie et invitez des amis.</p>
                            <div class="icon-link icon-link-hover">
                                Continuer <i class="bi bi-chevron-right" style="line-height: 1;"></i>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
