{% extends 'base.html.twig' %}

{% block title %}{{ app.request.host }} | Mon compte - Historique des parties{% endblock %}

{% block style_container %}max-width:968px; margin: 32px auto;{% endblock %}

{% block javascripts %}
    <script>
        const PIECESIMGURL = "{{ asset('assets/img/pieces/playerColor-chessboard.png') }}";
        let GAMESLIST = [];
        {% for oneGame in gamePlayers %}
            GAMESLIST.push({
                'id': '{{ oneGame.game.id }}',
                'fen': '{{ oneGame.game.fen }}',
                'pgn': '{{ oneGame.game.pgn }}',
            })
        {% endfor %}
        // EOF fill the show chessboard
    </script>

    {{ encore_entry_link_tags('gameHistoryJs') }}
{% endblock %}

{% block stylesheets %}
    <style>
        .height240 {
            height: 15rem;
        }
    </style>
    {{ encore_entry_script_tags('gameHistoryJs') }}
{% endblock %}

{% block body %}
    <div class="mb-4">
        <a href="{{ path('profile') }}" class="no-decoration" title="Mon compte">
            Mon compte <i class="bi bi-chevron-right" style="line-height: 1;"></i>
        </a>
    </div>

    <div class="text-center mb-5">
        <h1>Historique des parties</h1>
    </div>

    <div class="row">
        {% for oneGame in gamePlayers %}
            {% set gameUrl = path('game', {'url': oneGame.game.url}) %}
            {% if oneGame.game.type == 'against-ai' %}
                {% set gameUrl = path('gameAi', {'url': oneGame.game.url}) %}
            {% endif %}

            <a href="{{ gameUrl }}" class="col-12 mb-4 no-decoration">
                <div class="row height240">
                    <div class="col-4 game-history-board">
                        <div class="board-account-history">
                            {% if oneGame.color == 'white' %}
                                {% for key, column in ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'] %}
                                    <div class="one-column">
                                        {% for line in 8..1 %}
                                            {% if key is even %}
                                                <div id="{{ oneGame.game.id ~ '-' ~ column ~ line }}" class="chess-table {{ line is even ? 'case-white' : 'case-black' }}">
                                                </div>
                                            {% else %}
                                                <div id="{{ oneGame.game.id ~ '-' ~ column ~ line }}" class="chess-table {{ line is even ? 'case-black' : 'case-white' }}">
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                            {% else %}
                                {% for key, column in ['h', 'g', 'f', 'e', 'd', 'c', 'b', 'a'] %}
                                    <div class="one-column">
                                        {% for line in 1..8 %}
                                            {% if key is even %}
                                                <div id="{{ oneGame.game.id ~ '-' ~ column ~ line }}" class="chess-table {{ line is even ? 'case-white' : 'case-black' }}">
                                                </div>
                                            {% else %}
                                                <div id="{{ oneGame.game.id ~ '-' ~ column ~ line }}" class="chess-table {{ line is even ? 'case-black' : 'case-white' }}">
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-8 col-12 bg-body-tertiary border rounded-3 d-flex flex-column justify-content-between">
                        {% set timeDisplay = '∞' %}
                        {% if oneGame.game.time is not null %}
                            {% set timeDisplay = oneGame.game.time / 60 ~ ' + ' ~ oneGame.game.increment %}
                        {% endif %}

                        <div>
                            <h2 class="mb-0">{{ timeDisplay }} | {{ game_type[oneGame.game.type] }}</h2>
                            <p class="mb-0">{{ oneGame.game.dateInsert|date('d/m/Y H:i:s') }}</p>
                        </div>

                        <div class="text-center">
                            {% if oneGame.game.status == 'finished' %}
                                {% if oneGame.game.winner == 'd' %} {# draw #}
                                    {% if oneGame.game.endReason == 'playersAgreement' %}
                                        <p>Match nul par accord mutuel</p>
                                    {% elseif oneGame.game.endReason == 'stalemate' %}
                                        <p>Match nul : jeu bloqué</p>
                                    {% elseif oneGame.game.endReason == 'threefoldRepetition' %}
                                        <p>Match nul : 3 déplacements consécutifs</p>
                                    {% elseif oneGame.game.endReason == 'insufficientMaterial' %}
                                        <p>Match nul : nombre de pièces insuffisantes</p>
                                    {% elseif oneGame.game.endReason == 'fiftyMoves' %}
                                        <p>Match nul : 50 coups joués sans progrès</p>
                                    {% endif %}
                                {% else %} {# winner #}
                                    {% set reason = 'Échec et mat' %}
                                    {% if oneGame.game.endReason == 'timeout' %}
                                        {% set reason = 'Temps écoulé' %}
                                    {% elseif oneGame.game.endReason == 'resign' %}
                                        {% set reason = 'Abandon' %}
                                    {% endif %}

                                    {% if (oneGame.color == 'white' or oneGame.color == 'w') and oneGame.game.winner == 'w' %} {# victory while playing white #}
                                        <p class="text-success">Victoire des Blancs : {{ reason }}</p>
                                    {% elseif (oneGame.color == 'black' or oneGame.color == 'b') and oneGame.game.winner == 'b' %} {# victory while playing black #}
                                        <p class="text-success">Victoire des Noirs : {{ reason }}</p>
                                    {% elseif (oneGame.color == 'white' or oneGame.color == 'w') and oneGame.game.winner == 'b' %} {# lose while playing white #}
                                        <p class="text-danger">Victoire des Noirs : {{ reason }}</p>
                                    {% else %} {# lose while playing black #}
                                        <p class="text-danger">Victoire des Blancs : {{ reason }}</p>
                                    {% endif %}
                                {% endif %}
                            {% else %}
                                <p>{{ game_status[oneGame.game.status] }}</p>
                            {% endif %}
                        </div>

                        <div>
                            {% if ' 4. ' in oneGame.game.pgn %}
                                {% set pgnSplited = oneGame.game.pgn|split(' 4. ') %}
                                {% set fenSplited = oneGame.game.fen|split(' ') %}

                                <p class="mb-0">{{ pgnSplited[0] }} ... {{ fenSplited[5] }} moves</p>
                            {% else %}
                                <p class="mb-0">{{ oneGame.game.pgn }}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </a>
        {% else %}
            <div class="alert alert-info d-flex align-items-center" role="alert">
                <i class="bi bi-info-circle me-2" style="font-size:1.5rem"></i>
                <div>
                    Aucunes parties jouées
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
