{% extends 'base.html.twig' %}

{% block title %}{{ app.request.host }} | Connectez-vous{% endblock %}

{% block body %}
    {% if error %}
        <div class="alert alert-danger d-flex align-items-center" role="alert">
            <i class="bi bi-exclamation-circle-fill me-2" style="font-size:1.5rem"></i>
            <div>
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        </div>
    {% endif %}

    {% if app.user %}
        <div class="alert alert-success d-flex align-items-center" role="alert">
            <i class="bi bi-info-circle-fill me-2" style="font-size:1.5rem"></i>
            <div>
                Vous êtes connectés en tant que {{ app.user.userIdentifier }}, <a href="{{ path('logout') }}">Me déconnecter</a>
            </div>
        </div>
    {% endif %}

    <div class="text-center mb-4">
        <h1>Connectez-vous</h1>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 contact-icon">
            <i class="bi bi-box-arrow-in-right"></i>
        </div>
        <div class="col-12 col-md-6">
            <form method="post">
                <div class="mb-3">
                    <label for="username" class="form-label required">Email</label>
                    <input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="email" required autofocus>
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label required">Mot de passe</label>
                    <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>
                </div>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <input type="hidden" name="_target_path" value="{{ path('profile') }}">

                {#
                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                    See https://symfony.com/doc/current/security/remember_me.html

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> Remember me
                        </label>
                    </div>
                #}

                <button class="btn btn-primary mb-3" type="submit"> Me connecter</button>
            </form>
        </div>
    </div>

    <hr class="mb-5 mt-5">

    <div class="text-center">
        <h2 class="mb-3">Vous n'avez pas de compte ?</h2>
        <a class="btn btn-primary" href="{{ path('register') }}">Créer votre compte</a>
    </div>
{% endblock %}
