<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="Raphael Bellon">
        <meta name="robots" content="{% block meta_robots %}all{% endblock %}">

        <title id="title">{% block title %}{{ app.request.host }} | Jeu d'échecs gratuit{% endblock %}</title>

        <link rel="icon" type="image/png" href="{{ asset('assets/img/favicon-rook.png') }}">
        <link rel="canonical" href="{% block canonical %}{{ app.request.schemeAndHttpHost ~ app.request.pathInfo }}{% endblock %}">

        {% block stylesheets %}{% endblock %}
        {{ encore_entry_link_tags('allSite') }}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        <header>
            {% include "menu.html.twig" %}
        </header>

        <div class="container-fluid mt-3">
            {% block body %}{% endblock %}
        </div>

        {% block javascripts %}{% endblock %}
        {{ encore_entry_script_tags('allSite') }}
    </body>
</html>
