{% extends './base.html.twig' %}

{% block title %}TODO{% endblock %}

{% block stylesheets %}
    <style>
        .case-white {
            background-color: #f7dfc5;
        }
        .case-black {
            background-color: #c67945;
        }
        .case-white.selected {
            background-color: #8baf73;
        }
        .case-black.selected {
            background-color: #646f40;
        }

        .piece {
            background-image: url({{ asset('assets/img/chesspieces.png') }});
        }
        .piece.bishop.white{
            background-position: -64px 0;
        }
        .piece.knight.white{
            background-position: -128px 0;
        }
        .piece.rook.white{
            background-position: -192px 0;
        }
        .piece.queen.white{
            background-position: -256px 0;
        }
        .piece.king.white{
            background-position: -320px 0;
        }

        .piece.pawn.black{
            background-position: 0 bottom;
        }
        .piece.bishop.black{
            background-position: -64px bottom;
        }
        .piece.knight.black{
            background-position: -128px bottom;
        }
        .piece.rook.black{
            background-position: -192px bottom;
        }
        .piece.queen.black{
            background-position: -256px bottom;
        }
        .piece.king.black{
            background-position: -320px bottom;
        }
        .chess-table {
            width: 64px;
            height: 64px;
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(document).ready(function() {0
            const socket = new WebSocket('ws://localhost:3001');

            try {
                socket.addEventListener('open', function() {
                    console.log('CONNECTED');
                });
            } catch (error) {
                console.log(error);
            }

            socket.addEventListener('message', function(e) {
                try {
                    var message = JSON.parse(e.data);
                    var caseColorTo = ($('#' + message.to).hasClass('case-white')) ? 'case-white' : 'case-black';
                    var caseColorFrom = ($('#' + message.from).hasClass('case-white')) ? 'case-white' : 'case-black';

                    stringClasses = $('#'+message.from).attr('class');
                    stringClasses = stringClasses.replace(/case-white|case-black|selected/g, '');

                    $('#'+message.from).attr('class', 'chess-table ' + caseColorFrom);
                    $('#'+message.to).attr('class', stringClasses + ' ' + caseColorTo);

                    $( "body" ).off( "click");
                } catch(error) {
                    console.log(error);
                }
            });

            var playerColor = '{{ colorPlayer }}';
            $('.piece.'+playerColor).off('click').on('click', function() {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                } else {
                    $('.selected').each(function() {
                        $(this).removeClass('selected');
                    });
                    $(this).addClass('selected');
                }
            });

            $('.chess-table').on('click', function(event) {
                if (!$(this).hasClass('piece')) {
                    var idTo = $(this).attr('id');
                    var caseColorTo = ($(this).hasClass('case-white')) ? 'case-white' : 'case-black';
                    $('.selected').each(function() {
                        var idFrom = $(this).attr('id');
                        var caseColorFrom = ($(this).hasClass('case-white')) ? 'case-white' : 'case-black';

                        var movePiece = {
                            from: idFrom,
                            to: idTo
                        };
                        socket.send(JSON.stringify(movePiece));

                        stringClasses = $('#'+idFrom).attr('class');
                        stringClasses = stringClasses.replace(/case-white|case-black|selected/g, '');

                        $('#'+idFrom).attr('class', 'chess-table ' + caseColorFrom);
                        $('#'+idTo).attr('class', stringClasses + ' ' + caseColorTo);
                    });
                }
            });
        });



        {% for piece in whitePieces|filter(piece => piece.isTaken == false) %}
            $({{ piece.position }}).addClass('piece white {{ piece.label }}');
        {% endfor %}

        {% for piece in blackPieces|filter(piece => piece.isTaken == false) %}
            $({{ piece.position }}).addClass('piece black {{ piece.label }}');
        {% endfor %}
    </script>
{% endblock %}

{% block body %}
    <div>
        <table>
            {% if colorPlayer == 'white' %}
                {% for i in 8..1 %}
                    <tr>
                        <td id="a{{ i }}" class="chess-table {{ i is even ? 'case-white' : 'case-black' }}"></td>
                        <td id="b{{ i }}" class="chess-table {{ i is even ? 'case-black' : 'case-white' }}"></td>
                        <td id="c{{ i }}" class="chess-table {{ i is even ? 'case-white' : 'case-black' }}"></td>
                        <td id="d{{ i }}" class="chess-table {{ i is even ? 'case-black' : 'case-white' }}"></td>
                        <td id="e{{ i }}" class="chess-table {{ i is even ? 'case-white' : 'case-black' }}"></td>
                        <td id="f{{ i }}" class="chess-table {{ i is even ? 'case-black' : 'case-white' }}"></td>
                        <td id="g{{ i }}" class="chess-table {{ i is even ? 'case-white' : 'case-black' }}"></td>
                        <td id="h{{ i }}" class="chess-table {{ i is even ? 'case-black' : 'case-white' }}"></td>
                        <td><span style="margin-left:5px">{{ i }}</span></td>
                    </tr>
                {% endfor %}
                <tr>
                    <td class="text-center">a</td>
                    <td class="text-center">b</td>
                    <td class="text-center">c</td>
                    <td class="text-center">d</td>
                    <td class="text-center">e</td>
                    <td class="text-center">f</td>
                    <td class="text-center">g</td>
                    <td class="text-center">h</td>
                </tr>
            {% else %}
                {% for i in 1..8 %}
                    <tr>
                        <td id="h{{ i }}" class="chess-table {{ i is even ? 'case-black' : 'case-white' }}"></td>
                        <td id="g{{ i }}" class="chess-table {{ i is even ? 'case-white' : 'case-black' }}"></td>
                        <td id="f{{ i }}" class="chess-table {{ i is even ? 'case-black' : 'case-white' }}"></td>
                        <td id="e{{ i }}" class="chess-table {{ i is even ? 'case-white' : 'case-black' }}"></td>
                        <td id="d{{ i }}" class="chess-table {{ i is even ? 'case-black' : 'case-white' }}"></td>
                        <td id="c{{ i }}" class="chess-table {{ i is even ? 'case-white' : 'case-black' }}"></td>
                        <td id="b{{ i }}" class="chess-table {{ i is even ? 'case-black' : 'case-white' }}"></td>
                        <td id="a{{ i }}" class="chess-table {{ i is even ? 'case-white' : 'case-black' }}"></td>
                        <td><span style="margin-left:5px">{{ i }}</span></td>
                    </tr>
                {% endfor %}
                <tr>
                    <td class="text-center">h</td>
                    <td class="text-center">g</td>
                    <td class="text-center">f</td>
                    <td class="text-center">e</td>
                    <td class="text-center">d</td>
                    <td class="text-center">c</td>
                    <td class="text-center">b</td>
                    <td class="text-center">a</td>
                </tr>
            {% endif %}
        </table>
    </div>
{% endblock %}
