{% extends './base.html.twig' %}

{% block meta_robots %}noindex{% endblock %}
{% block canonical %}{{ app.request.schemeAndHttpHost ~ '/game-ai' }}{% endblock %}

{% block javascripts %}
    <script>
        const FEN = '{{ game.fen }}';
        const PGN = '{{ game.pgn }}';
        const GAMEURL = '{{ game.url }}';
        // const INCREMENT = '{{ game.increment }}';
        const PLAYERCOLOR = '{{ player.color }}';
        // const PLAYERTIMELEFT = '{{ player.timeLeft }}';
        // const OPPONENTTIMELEFT = '{{ opponent.timeLeft }}';
        const IDGAME = '{{ game.id }}';
        const PIECESIMGURL = "{{ asset('assets/img/pieces/playerColor-chessboard.png') }}";
        var GAMESTATUS = '{{ game.status }}'; // This one can be updated in JS, so don't set up as const
        // const PLAYERTYPE = '{{ playerType }}';
        const SERVERNAME = '{{ app.request.host }}';
        const AILEVEL = '{{ game.ailevel }}';
        const AJAXAIENDGAMEURL = '{{ path('ajaxAIEndGame') }}';
        // const ENV = '{{ env }}';
    </script>

    {{ encore_entry_link_tags('gameAiJs') }}
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_script_tags('gameAiJs') }}
{% endblock %}

{% block body %}
    <div id="fireworks-container"></div>
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-12">
            {# {% if playerType == 'spectator' %}
                <div>
                    <p>Mode spectateur</p>
                </div>
            {% else %} #}
            <div class="row mb-3">
                <div class="col-6">
                    <button id="takeback" class="btn btn-primary">
                        <i class="bi bi-skip-backward" title="Annuler le dernier déplacement"></i>
                    </button>
                </div>

                <div class="col-6">
                    <button id="resign" class="btn btn-danger" title="Abandonner">
                        <i class="bi bi-flag"></i>
                    </button>
                </div>
            </div>
            {# {% endif %} #}
            <div class="tchat">
                {% for oneMessage in messages %}
                    <div>
                        {{ oneMessage.message }}
                    </div>
                {% endfor %}
            </div>
            {# <div class="spectators d-none">
                <p><i class="bi bi-person-fill"></i><span class="spectators-number"></span></p>
            </div> #}
        </div>
        <div class="col-lg-6 col-md-8 col-sm-12">
            <div id="board">
                {% if player.color == 'white' %}
                    {% for key, column in ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'] %}
                        <div class="one-column">
                            {% for line in 8..1 %}
                                {% if key is even %}
                                    <div id="{{ column ~ line }}" class="chess-table {{ line is even ? 'case-white' : 'case-black' }}">
                                        {% if column == 'h' %}
                                            <span class="absolute-top-right">{{ line }}</span>
                                        {% endif %}

                                        {% if line == 1 %}
                                            <span class="absolute-bottom-left">{{ column }}</span>
                                        {% endif %}
                                    </div>
                                {% else %}
                                    <div id="{{ column ~ line }}" class="chess-table {{ line is even ? 'case-black' : 'case-white' }}">
                                        {% if column == 'h' %}
                                            <span class="absolute-top-right">{{ line }}</span>
                                        {% endif %}

                                        {% if line == 1 %}
                                            <span class="absolute-bottom-left">{{ column }}</span>
                                        {% endif %}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endfor %}
                {% else %}
                    {% for key, column in ['h', 'g', 'f', 'e', 'd', 'c', 'b', 'a'] %}
                        <div class="one-column">
                            {% for line in 1..8 %}
                                {% if key is even %}
                                    <div id="{{ column ~ line }}" class="chess-table {{ line is even ? 'case-white' : 'case-black' }}">
                                        {% if column == 'a' %}
                                            <span class="absolute-top-right">{{ line }}</span>
                                        {% endif %}

                                        {% if line == 8 %}
                                            <span class="absolute-bottom-left">{{ column }}</span>
                                        {% endif %}
                                    </div>
                                {% else %}
                                    <div id="{{ column ~ line }}" class="chess-table {{ line is even ? 'case-black' : 'case-white' }}">
                                        {% if column == 'a' %}
                                            <span class="absolute-top-right">{{ line }}</span>
                                        {% endif %}

                                        {% if line == 8 %}
                                            <span class="absolute-bottom-left">{{ column }}</span>
                                        {% endif %}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12">
            {# <div>
                <span id="timer-opponent"></span>
            </div> #}
            <div>
                Statut de connexion : OK
            </div>
            <div class="history">
                <div class="row text-center">
                    <div class="col-3 btn history-button" id="history-start"><i class="bi bi-chevron-double-left"></i></div>
                    <div class="col-3 btn history-button" id="history-backward"><i class="bi bi-chevron-left"></i></div>
                    <div class="col-3 btn history-button" id="history-forward"><i class="bi bi-chevron-right"></i></div>
                    <div class="col-3 btn history-button" id="history-end"><i class="bi bi-chevron-double-right"></i></div>
                </div>

                <div id="playerturn-start" class="{{ game.status not in ['begining', 'waiting-player'] ? 'd-none' }}">
                   <p>
                        {% if player.color == 'w' or player.color == 'white' %}
                            Vous jouez avec les blancs.<br>
                            C'est votre tour !
                        {% else %}
                            Vous jouez avec les noirs.
                        {% endif %}
                    </p>
                </div>

                <div class="history-section">
                    {% for moveNumber, oneMove in arrMovesForHtml %}
                        <div class="row move-{{ moveNumber }} text-center">
                            <div class="col-4">{{ moveNumber }}</div>
                            <div id="move-san-w-{{ moveNumber }}" class="col-4 one-move-san {{ loop.last and oneMove.san_black is not defined ? 'last-history-move' }}">{{ oneMove.san_white is defined ? oneMove.san_white }}</div>
                            <div id="move-san-b-{{ moveNumber }}" class="col-4 one-move-san {{ loop.last and oneMove.san_black is defined ? 'last-history-move' }}">{{ oneMove.san_black is defined ? oneMove.san_black }}</div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div>
                Statut de connexion : OK
            </div>
            {# <div>
                <span id="timer-player"></span>
            </div> #}
        </div>
    </div>

    <div class="modal fade" id="promotion-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button class="button" id="q">reine</button>
                    <button class="button" id="r">tour</button>
                    <button class="button" id="b">fou</button>
                    <button class="button" id="n">cavalier</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="resign-modal" tabindex="-1" aria-labelledby="resignLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Vous êtes sur le point d'abandonner.</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                    <button type="button" class="btn btn-primary" id="confirm-resign-modal">Confirmer</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
