{% extends './base.html.twig' %}

{% block meta_robots %}noindex{% endblock %}
{% block canonical %}{{ app.request.schemeAndHttpHost ~ '/game-ai' }}{% endblock %}

{% block javascripts %}
    <script>
        const FEN = '{{ game.fen }}';
        const PGN = '{{ game.pgn }}';
        const GAMEURL = '{{ game.url }}';
        // const INCREMENT = '{{ game.increment }}';
        const PLAYERCOLOR = '{{ player.color }}';
        // const PLAYERTIMELEFT = '{{ player.timeLeft }}';
        // const OPPONENTTIMELEFT = '{{ opponent.timeLeft }}';
        const IDGAME = '{{ game.id }}';
        const PIECESIMGURL = "{{ asset('assets/img/pieces/playerColor-chessboard.png') }}";
        var GAMESTATUS = '{{ game.status }}'; // This one can be updated in JS, so don't set up as const
        // const PLAYERTYPE = '{{ playerType }}';
        const SERVERNAME = '{{ app.request.host }}';
        const AILEVEL = '{{ game.ailevel }}';
        const AJAXAIENDGAMEURL = '{{ path('ajaxAIEndGame') }}';
        const AJAXAIONEMOVEURL = '{{ path('ajaxAIOneMove') }}';
        const AJAXAITAKEBACKURL = '{{ path('ajaxAITakeback') }}';
        // const ENV = '{{ env }}';
    </script>

    {{ encore_entry_link_tags('gameAiJs') }}
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_script_tags('gameAiJs') }}
{% endblock %}

{% block body %}
    <div id="fireworks-container"></div>
    <div class="row">
        <div class="col-lg-3 col-md-12 tchat-column">
            {# {% if playerType == 'spectator' %}
                <div>
                    <p>Mode spectateur</p>
                </div>
            {% else %} #}
                <div class="row text-center">
                    <div class="col-6">
                        <button id="takeback" class="btn btn-primary">
                            <i class="bi bi-skip-backward" title="Annuler le dernier déplacement"></i>
                        </button>
                    </div>
                    <div class="col-6">
                        <button id="resign" class="btn btn-danger" title="Abandonner">
                            <i class="bi bi-flag"></i>
                        </button>
                    </div>
                </div>
            {# {% endif %} #}
            <section class="tchat" style="margin-top: 2rem">
                {% for oneMessage in messages %}
                    <div>
                        {{ oneMessage.message }}
                    </div>
                {% endfor %}
            </section>
            {# <div class="spectators d-none">
                <p><i class="bi bi-person-fill"></i><span class="spectators-number"></span></p>
            </div> #}
        </div>
        <div class="col-lg-9 col-md-12">
            <div class="row">
                <div class="col-md-8 col-12 board-column">
                    <div class="timer-score-opponent-mobile">
                        <div class="user-mobile-div">
                            <div class="user-connected-div">
                                <i class="user-connected opponent-connect" title="Utilisateur actif"></i>
                                {% if opponent.user is not null %}
                                    <span class="ms-1">{{ opponent.user.nickname }}</span>
                                {% else %}
                                    <span class="ms-1">Anonyme</span>
                                {% endif %}
                            </div>
                            <div class="score-div">
                                <span class="score-opponent"></span>
                            </div>
                        </div>
                        <div class="timer-div timer-top text-center">
                            <span class="timer-opponent">∞</span>
                        </div>
                    </div>
                    <div id="board">
                        {% if player.color == 'white' %}
                            {% for key, column in ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'] %}
                                <div class="one-column">
                                    {% for line in 8..1 %}
                                        {% if key is even %}
                                            <div id="{{ column ~ line }}" class="chess-table {{ line is even ? 'case-white' : 'case-black' }}">
                                                {% if column == 'h' %}
                                                    <span class="absolute-top-right">{{ line }}</span>
                                                {% endif %}

                                                {% if line == 1 %}
                                                    <span class="absolute-bottom-left">{{ column }}</span>
                                                {% endif %}
                                            </div>
                                        {% else %}
                                            <div id="{{ column ~ line }}" class="chess-table {{ line is even ? 'case-black' : 'case-white' }}">
                                                {% if column == 'h' %}
                                                    <span class="absolute-top-right">{{ line }}</span>
                                                {% endif %}

                                                {% if line == 1 %}
                                                    <span class="absolute-bottom-left">{{ column }}</span>
                                                {% endif %}
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        {% else %}
                            {% for key, column in ['h', 'g', 'f', 'e', 'd', 'c', 'b', 'a'] %}
                                <div class="one-column">
                                    {% for line in 1..8 %}
                                        {% if key is even %}
                                            <div id="{{ column ~ line }}" class="chess-table {{ line is even ? 'case-white' : 'case-black' }}">
                                                {% if column == 'a' %}
                                                    <span class="absolute-top-right">{{ line }}</span>
                                                {% endif %}

                                                {% if line == 8 %}
                                                    <span class="absolute-bottom-left">{{ column }}</span>
                                                {% endif %}
                                            </div>
                                        {% else %}
                                            <div id="{{ column ~ line }}" class="chess-table {{ line is even ? 'case-black' : 'case-white' }}">
                                                {% if column == 'a' %}
                                                    <span class="absolute-top-right">{{ line }}</span>
                                                {% endif %}

                                                {% if line == 8 %}
                                                    <span class="absolute-bottom-left">{{ column }}</span>
                                                {% endif %}
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="timer-score-player-mobile">
                        <div class="user-mobile-div">
                            <div class="score-div">
                                <span class="score-player"></span>
                            </div>
                            <div class="user-connected-div">
                                <i class="user-connected player-connect" title="Utilisateur actif"></i>
                                {% if is_granted('IS_AUTHENTICATED_FULLY') and app.user is not null %}
                                    <span class="ms-1">{{ app.user.nickname }}</span>
                                {% else %}
                                    <span class="ms-1">Anonyme</span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="timer-div timer-bottom text-center">
                            <span class="timer-player">∞</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-12">
                    <div class="timer-score-opponent-desktop">
                        <div class="score-div mb-1">
                            <span class="score-opponent"></span>
                        </div>
                        <div class="timer-div timer-top text-center">
                            <span class="timer-opponent">∞</span>
                        </div>
                    </div>
                    <section class="history-section-div">
                        <div class="user-connected-div desktop mx-2 py-2">
                            <i class="user-connected opponent-connect" title="Utilisateur actif"></i>
                            {% if opponent.user is not null %}
                                <span class="ms-1">{{ opponent.user.nickname }}</span>
                            {% else %}
                                <span class="ms-1">Anonyme</span>
                            {% endif %}
                        </div>

                        <div class="history">
                            <div class="history-buttons-div text-center">
                                <div class="row">
                                    <div class="col-3 btn history-button" id="history-start"><i class="bi bi-chevron-double-left"></i></div>
                                    <div class="col-3 btn history-button" id="history-backward"><i class="bi bi-chevron-left"></i></div>
                                    <div class="col-3 btn history-button" id="history-forward"><i class="bi bi-chevron-right"></i></div>
                                    <div class="col-3 btn history-button" id="history-end"><i class="bi bi-chevron-double-right"></i></div>
                                </div>
                            </div>

                            <div class="history-section-before {{ game.status not in ['begining', 'waiting-player'] ? 'd-none' }}">
                                <div id="playerturn-start">
                                    {% if player.color == 'w' or player.color == 'white' %}
                                        <div>
                                            <i class="bi bi-info-circle-fill"></i> Vous jouez avec les blancs.
                                        </div>
                                        <div>
                                            <strong>C'est votre tour !</strong>
                                        </div>
                                    {% else %}
                                        <div>
                                            <i class="bi bi-info-circle-fill"></i> Vous jouez avec les noirs.
                                        </div>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="history-section {{ game.status in ['begining', 'waiting-player'] ? 'd-none' }}">
                                {% for moveNumber, oneMove in arrMovesForHtml %}
                                    <div class="row move-{{ moveNumber }} text-center">
                                        <div class="col-3 move-index">{{ moveNumber }}</div>
                                        <div id="move-san-w-{{ moveNumber }}" class="col-4 one-move-san {{ loop.last and oneMove.san_black is not defined ? 'last-history-move' }}">{{ oneMove.san_white is defined ? oneMove.san_white }}</div>
                                        <div id="move-san-b-{{ moveNumber }}" class="col-5 one-move-san {{ loop.last and oneMove.san_black is defined ? 'last-history-move' }}">{{ oneMove.san_black is defined ? oneMove.san_black }}</div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="user-connected-div desktop mx-2 py-2">
                            <i class="user-connected player-connect" title="Utilisateur actif"></i>
                            {% if is_granted('IS_AUTHENTICATED_FULLY') and app.user is not null %}
                                <span class="ms-1">{{ app.user.nickname }}</span>
                            {% else %}
                                <span class="ms-1">Anonyme</span>
                            {% endif %}
                        </div>
                    </section>
                    <div class="timer-score-player-desktop">
                        <div class="timer-div timer-bottom text-center">
                            <span class="timer-player">∞</span>
                        </div>
                        <div class="score-div mt-1">
                            <span class="score-player"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {# TODO : update design of this #}
    <div class="modal fade" id="promotion-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button class="button" id="q">reine</button>
                    <button class="button" id="r">tour</button>
                    <button class="button" id="b">fou</button>
                    <button class="button" id="n">cavalier</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="resign-modal" tabindex="-1" aria-labelledby="resignLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Vous êtes sur le point d'abandonner.</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                    <button type="button" class="btn btn-primary" id="confirm-resign-modal">Confirmer</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
