{% extends 'base.html.twig' %}

{% block title %}{{ app.request.host }} | Apprendre les échecs{% endblock %}

{% block style_container %}max-width:968px; margin: 32px auto;{% endblock %}

{% block body %}
    <div class="text-center">
        <h1>Apprenez les échecs</h1>
    </div>
    <div class="row">
        <div class="col-12">
            <section>
                <div class="row">
                    <div class="col-12">
                        <h2>Votre Progression</h2>
                        <div class="bg-light pb-4 text-center rounded">
                            <p class="pt-1 mb-2">Apprendre les échecs en jouant</p>
                            <div class="progress w-75 mx-auto" role="progressbar" aria-label="Animated striped example" aria-valuenow="{{ progressPercent }}" aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" style="width:{{ progressPercent }}%">{{ progressPercent }}%</div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            {% for section, listChallenges in challengesToDisplay %}
                <section class="mt-5">
                    <div class="row">
                        <div class="col-12">
                            <h2>{{ section }}</h2>
                        </div>
                    </div>
                    <div class="row">
                        {% for oneChallenge in listChallenges %}
                            <div class="col-12 col-md-6">
                                <a href="{{ path('learnGame', {'gameCategory': oneChallenge.slug, 'gameId': challengeNumberLink[oneChallenge.slug]}) }}" class="no-decoration">
                                    {% set borderClass = '' %}
                                    {% set textClass = '' %}
                                    {% if ongoingChallengesAdvancement[oneChallenge.slug] is defined %}
                                        {% set borderClass = 'border-primary' %}
                                        {% set textClass = 'text-primary' %}
                                    {% elseif finishedChallengesResult[oneChallenge.slug] is defined %}
                                        {% set borderClass = 'border-success' %}
                                        {% set textClass = 'text-success' %}
                                    {% endif %}
                                    <div class="card text-bg-light mb-3 {{ borderClass }}">
                                        <div class="card-body {{ textClass }}">
                                            <h5 class="card-title">{{ oneChallenge.title }}</h5>
                                            <p class="card-text">{{ oneChallenge.subtitle }}</p>
                                        </div>
                                        {% if ongoingChallengesAdvancement[oneChallenge.slug] is defined %}
                                            <span class="ribbon-wrapper">
                                                <span class="ribbon-display bg-primary text-white">{{ ongoingChallengesAdvancement[oneChallenge.slug] }}</span>
                                            </span>
                                        {% endif %}
                                        {% if finishedChallengesResult[oneChallenge.slug] is defined %}
                                            <span class="ribbon-wrapper">
                                                <span class="ribbon-display bg-success text-white">
                                                    {% for i in 1..min(finishedChallengesResult[oneChallenge.slug], 3) %}
                                                        <i class="bi bi-star-fill"></i>
                                                    {% endfor %}
                                                </span>
                                            </span>
                                        {% endif %}
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </section>
            {% endfor %}
        </div>
    </div>
{% endblock %}
