<header class="navbar">
    <div class="navbar__firstpart">
        <a href="{{ path('index') }}">Accueil</a>
        <a href="{{ path('index') }}">Jouer</a>
        <a href="{{ path('watch') }}">Regarder</a>
        <a href="{{ path('contact') }}">Contact</a>
        <a href="{{ path('about') }}">À propos</a>
    </div>
    <div class="navbar__secondpart">
        <a href="{{ path('login') }}">Connexion</a>
    </div>
</header>
