{% extends './base.html.twig' %}

{% block title %}TODO{% endblock %}

{% block javascripts %}
    <script>
        var FEN = '{{ fen }}';
        var INCREMENT = '{{ increment }}';
        var PLAYERCOLOR = '{{ player.color }}';
        var PLAYERTIMELEFT = '{{ player.timeLeft }}';
        var OPPONENTTIMELEFT = '{{ opponent.timeLeft }}';
        var IDGAME = '{{ idGame }}';
        var PIECESIMGURL = "{{ asset('assets/img/pieces/playerColor-chessboard.png') }}";
        var MOVES = {{ arrMoves|json_encode|raw }};
    </script>

    {{ encore_entry_link_tags('gameJs') }}
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_script_tags('gameJs') }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-2 col-md-4 col-sm-12">
            <div class="bg-grey">
                <div>Votre temps : <span id="timer-player"></span></div>
                <div><span id="player-turn"></span></div>
                <div>Temps de l'adversaire : <span id="timer-opponent"></span></div>
            </div>
            <div>
                Statut de connection de l'adversaire : <span class="opponent-connect"></span>
            </div>
        </div>
        <div class="col-lg-7 col-md-8 col-sm-12 col-center">
            <table id="board">
                {% if player.color == 'white' %}
                    {% for i in 8..1 %}
                        <tr>
                            <td id="a{{ i }}" class="chess-table {{ i is even ? 'case-white' : 'case-black' }}"></td>
                            <td id="b{{ i }}" class="chess-table {{ i is even ? 'case-black' : 'case-white' }}"></td>
                            <td id="c{{ i }}" class="chess-table {{ i is even ? 'case-white' : 'case-black' }}"></td>
                            <td id="d{{ i }}" class="chess-table {{ i is even ? 'case-black' : 'case-white' }}"></td>
                            <td id="e{{ i }}" class="chess-table {{ i is even ? 'case-white' : 'case-black' }}"></td>
                            <td id="f{{ i }}" class="chess-table {{ i is even ? 'case-black' : 'case-white' }}"></td>
                            <td id="g{{ i }}" class="chess-table {{ i is even ? 'case-white' : 'case-black' }}"></td>
                            <td id="h{{ i }}" class="chess-table {{ i is even ? 'case-black' : 'case-white' }}"></td>
                            <td><span style="margin-left:5px">{{ i }}</span></td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td class="text-center">a</td>
                        <td class="text-center">b</td>
                        <td class="text-center">c</td>
                        <td class="text-center">d</td>
                        <td class="text-center">e</td>
                        <td class="text-center">f</td>
                        <td class="text-center">g</td>
                        <td class="text-center">h</td>
                    </tr>
                {% else %}
                    {% for i in 1..8 %}
                        <tr>
                            <td id="h{{ i }}" class="chess-table {{ i is even ? 'case-black' : 'case-white' }}"></td>
                            <td id="g{{ i }}" class="chess-table {{ i is even ? 'case-white' : 'case-black' }}"></td>
                            <td id="f{{ i }}" class="chess-table {{ i is even ? 'case-black' : 'case-white' }}"></td>
                            <td id="e{{ i }}" class="chess-table {{ i is even ? 'case-white' : 'case-black' }}"></td>
                            <td id="d{{ i }}" class="chess-table {{ i is even ? 'case-black' : 'case-white' }}"></td>
                            <td id="c{{ i }}" class="chess-table {{ i is even ? 'case-white' : 'case-black' }}"></td>
                            <td id="b{{ i }}" class="chess-table {{ i is even ? 'case-black' : 'case-white' }}"></td>
                            <td id="a{{ i }}" class="chess-table {{ i is even ? 'case-white' : 'case-black' }}"></td>
                            <td><span style="margin-left:5px">{{ i }}</span></td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td class="text-center">h</td>
                        <td class="text-center">g</td>
                        <td class="text-center">f</td>
                        <td class="text-center">e</td>
                        <td class="text-center">d</td>
                        <td class="text-center">c</td>
                        <td class="text-center">b</td>
                        <td class="text-center">a</td>
                    </tr>
                {% endif %}
            </table>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12">
            <div class="history">
                <div class="row text-center">
                    <div class="col-3 btn" id="history-start"><i class="bi bi-chevron-double-left"></i></div>
                    <div class="col-3 btn" id="history-forward"><i class="bi bi-chevron-left"></i></div>
                    <div class="col-3 btn" id="history-backward"><i class="bi bi-chevron-right"></i></div>
                    <div class="col-3 btn" id="history-end"><i class="bi bi-chevron-double-right"></i></div>
                </div>
                {% for moveNumber, oneMove in arrMovesForHtml %}
                    <div class="row move-{{ moveNumber }} text-center">
                        <div class="col-4">{{ moveNumber }}</div>
                        <div class="col-4 move-san-white-{{ moveNumber }}">{{ oneMove.san_white is defined ? oneMove.san_white }}</div>
                        <div class="col-4 move-san-black-{{ moveNumber }}">{{ oneMove.san_black is defined ? oneMove.san_black }}</div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="modal fade" id="promotion-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button class="button" id="q">reine</button>
                    <button class="button" id="r">tour</button>
                    <button class="button" id="b">fou</button>
                    <button class="button" id="n">cavalier</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
